/* frontend/src/app/producto/producto-list/producto-list.component.css (REEMPLAZAR) */
.producto-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 16px; 
}

.producto-card-header button {
  margin-left: 1rem;
}