/* frontend/src/app/categoria/categoria-list/categoria-list.component.css (REEMPLAZAR) */

.categoria-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 16px; 
}

.categoria-card-header button {
  margin-left: 1rem;
}